 html,
body {
  height: 100%;
  overflow: hidden;
    background:black;
cursor:wait;
}

.Loop {
  position: relative;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

section {
  position: relative;
  text-align: center;
  min-height: 600px;
  max-height: 900px;
  height: 100%;
cursor:;
}

::scrollbar {
  display: none;
}


    body {
  font-family: 'Major Mono Display', monospace;
  font-weight: normal;
  font-size: 100%;
}

    
    
   .braceface {
       position: fixed;
       -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 40000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 40000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}
    @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
   
    .birthdayhat {
        position: absolute;
        left:900px;
  top: 150px;
       -webkit-animation-name: spinmove;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 40000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 40000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
         x-transition: all 1s ease-in-out;
  animation: spinmove 1.7s infinite;
         }
     @keyframes spinmove {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
         0% {
    right: 0px;
  }
  50% {
    top: -40px;
  }
  100% {
    right: 0;
  }
}
    
    .cowboyhat {
        position: absolute;
        left: 100px;
  top: 150px;
       -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 40000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 40000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
         x-transition: all 1s ease-in-out;
  animation: spin 1.7s infinite;
         animation-direction: alternate;
         }
    
.flowers {position: absolute;
        right: 100px;
  top: 260px;
         }
    
    .butterfly {
        position:absolute;
        left:-300px;
  top: 10px;
         -webkit-animation-name: pollinate;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: pollinate;
  -moz-animation-duration: 40000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: pollinate;
  -ms-animation-duration: 40000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
         x-transition: all 1s ease-in-out;
  animation: pollinate 6s infinite;
    }    
    
    @keyframes pollinate {
     0% {
    left: -300;
  }
       75% {top:140px;}
        75% {left:600px;}
  100% {
    left: 1245px;
  }
  
    }

.one {
  background: black;
}
.two {
 
}
.three {
  background: black;
     position: relative;
  text-align: center;
  min-height: 745px;
  max-height: 900px;
  height: 100%;
}
.four {

}
    .five {
  background: black;
}
      .six {
 
}

h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 80px;
  letter-spacing: 10px;
  color: #fff;
  text-transform: uppercase;
} 

.maincloud {
     position:absolute;
    right:-125px;
        }

.littlecloud {
    position:absolute;
 left:100px;
    -webkit-animation-name: cloudmove;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cloudmove;
  -moz-animation-duration: 200s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: cloudmove;
  -ms-animation-duration: 200s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
  animation: cloudmove 20s infinite;
    }    
    


@keyframes cloudmove {
     0% {left: -300px;}
      
  100% {
    left: 1000px;
  }
}


.left {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.right {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
#bee {transition: transform .1s}



.zoom{
	overflow: hidden;
	padding-bottom: 55%;
}
.zoom img{
	position: fixed;
	top: 0%;
	left: 50%;
	max-width: 150%;
	transform: translateX(-50%);
	/* Thanks  @bastian_fiessinger. Use when activating blur effect:
	will-change: -webkit-filter, filter, transform; */
}
@media (max-width: 667px) {
	h1{
		font-size: 1.8rem;
		line-height: 2.6rem;
		text-align: left;
	}
	
	.zoom{
		overflow: hidden;
		padding-bottom: 75%;
	}

}